body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}
h1 {
animation: type 3s steps(18);
/* animation-iteration-count: 1; */
overflow: hidden;
white-space: nowrap;
border-right: 4px solid white;
width: 15ch;
}
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width:18 ch;
    }
}
.navbar pre{
    display: inline;
}
#newArray.col.gap-2.d-sm-flex{
    padding: 15px 12px;
    /* margin: 10px 50px; */
}

.col.gap-2.d-sm-flex.justify-content-end{
    padding: 15px 12px;
}

.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item{
    background: cyan;
    border: 1.5pt solid black;
    width: 25px;
    border-radius: 10px;
    transition: 0.1s all ease;
    min-height: 20px;
    margin-top: auto;
    margin-inline: 1px;
    /* height: 70vh; */
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
